.tag-tags li {
    display: inline-block;
    padding: 3px 10px;
    background-color: #d9d9d9;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 10px;
    font-size: 12pt;
    font-weight: 500;
    font-family: "Inter", "Roboto", "Monserrat", "Helvetica";
}
.tag-tags a {
    font-family: "Inter", "Roboto", "Monserrat", "Helvetica";
    color: black;
    font-size: 12pt;
    padding: 3px 5px;
    background: var(--tertiary);
    border-radius: 6px;
    transition: transform 0.1s;
}
#tag-tags {
    padding-left: 0px !important;
}
#tag-title {
    font-weight: bold;
    padding-bottom: 20px;
    margin: 5px 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper {
    flex: 1;
}

/* ============= Device specific fixes ======= */

/* Large screens such as TV */
@media only screen and (min-width: 1824px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    #tag_lists {
        display: block;
        padding-top: 100px !important;
        margin-top: 50px !important;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: auto;
    }
}

@media (max-width: 1400px) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    #tag_lists {
        display: block;
        padding-top: 100px !important;
        margin-top: 50px !important;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: auto;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    #tag_lists {
        display: block;
        padding-top: 100px !important;
        margin-top: 50px !important;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: auto;
    }
}

/* IPad Pro */
@media (max-width: 1024px) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    #tag_lists {
        display: block;
        padding-top: 100px !important;
        margin-top: 50px !important;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: auto;
    }
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    #tag_lists {
        display: block;
        padding-top: 100px !important;
        margin-top: 50px !important;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: auto;
    }
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    #tag_lists {
        display: block;
        padding-top: 100px !important;
        margin-top: 50px !important;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: auto;
    }
}

/* iPhoneX, iPhone 6,7,8 */
@media only screen and (max-width: 375px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 0.9rem;
    }
}

/* Galaxy S5, Moto G4 */
@media only screen and (max-width: 360px) {
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 0.7rem;
    }
}

/* iPhone 5 or before */
@media only screen and (max-width: 320px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 0.9rem;
    }
    h3 {
        font-size: 0.8rem;
    }
    h4 {
        font-size: 0.4rem;
    }
}